@media screen and (max-width: 375px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  flex: 0 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.btn-md {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}

.btn-lg {
  font-size: 1.5rem;
  padding: 2rem 3rem;
}

.btn-primary {
  font-weight: 500;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}
.btn-primary:hover, .btn-primary:active {
  background: linear-gradient(60deg, hsl(136, 65%, 56%), hsl(192, 70%, 56%));
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.3s ease;
}
.hamburger-menu .bar {
  width: 100%;
  height: 2px;
  background-color: hsl(233, 8%, 62%);
  transition: all 0.3s ease;
}
.hamburger-menu:focus {
  outline: none;
}
.hamburger-menu.active {
  transform: rotate(90deg);
}
.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  font-weight: 300;
}

nav {
  background-color: hsl(0, 0%, 100%);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav .container-xxl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul,
nav .btn {
  display: none;
}
@media (min-width: 992px) {
  nav ul,
  nav .btn {
    display: flex;
  }
}
nav ul {
  gap: 2rem;
  list-style: none;
}
nav ul li a {
  color: hsl(233, 8%, 62%);
  text-decoration: none;
}
@media (min-width: 992px) {
  nav .hamburger-menu {
    display: none;
  }
}

.hero {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-xxl {
  max-width: 1350px;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
