// Buttons

.btn-md {
    font-size: $font-size-sm;
    padding: $space-xs $space-md;

}

.btn-lg {
    font-size: $font-size-md;
    padding: $space-sm $space-lg;

}

.btn-primary {
    font-weight: 500;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background: $gradient;
    color:$white;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover,
    &:active {
        background: $gradient-light;
    }
}

.btn-top-nav {
    color: $blue-grey-dark;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: solid;
        text-decoration-line: underline;
        text-decoration-thickness: 4px;
        text-decoration-color: $green;
        text-underline-offset: $space-md;
    }

}

// Cards

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $space-md;
    margin-top: $space-lg;  


    .card {
        height: 100%;
        .card-inner {
            height: 100%;
            background-color: $white;

            .card-media {
            overflow: hidden;
                img {
                    object-fit: cover;
                    max-height: 200px;
                    width: 100%;
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }
            }
            .card-content {
                padding: $space-md;

                .card-pretitle {
                    font-size: $font-size-xs;
                    color: $blue-grey;
                }

                h3 {
                    font-size: $font-size-lg;
                    line-height: 1.1;
                    margin: $space-sm 0;

                }
                .card-text {
                    color: $blue-grey-dark;
                }
            }
        }
    }
}