.btn-md {
    font-size: $font-size-md;
    padding: $space-sm $space-md;

}

.btn-lg {
    font-size: $font-size-lg;
    padding: $space-md $space-lg;

}

.btn-primary {
    font-weight: 500;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background: $gradient;
    color:$white;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover,
    &:active {
        background: $gradient-light;
    }
}

// Hamburger button styling
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;
    transition: transform 0.3s ease;
    
    .bar {
      width: 100%;
      height: 2px;
      background-color: $blue-grey;
      transition: all 0.3s ease;
    }
    
    &:focus {
      outline: none;
    }
    
    // Active state for hamburger
    &.active {
      transform: rotate(90deg);
      
      .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      
      .bar:nth-child(2) {
        opacity: 0;
      }
      
      .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  .btn-top-nav {
        color: $blue-grey;
        text-decoration: none;

        &:hover,
        &:active {
            text-decoration: solid;
            text-decoration-line: underline;
            text-decoration-thickness: 4px;
            text-decoration-color: $green;
            text-underline-offset: $space-md;
        }
    
  }
  