.facts {
    background-color: $blue-grey-light;
    padding: $space-lg 0;

    h2, .subtitle {
        text-align: center;
    }

    .subtitle {
        margin: $space-sm 0;
    }

    @include tablet-lg {
        padding: $space-xxl 0;       

        h2, 
        .subtitle {
            text-align: left;

        }
        .subtitle {
            max-width: 60%;
        }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: $space-md;
        padding: $space-lg $space-md;

        img {
            width: 60px;
        }

        h3 {
            font-size: $font-size-lg;
            margin: $space-sm 0;
        }

        p {
            font-size: $font-size-sm;
            color: $blue-grey-dark;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                text-align: center;
            }
        }
    }
}