nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    box-shadow: 0 2px 2px $blue-grey-light;
    transition: background-color 0.3s ease;

    .container-xxl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }


    .btn {
        display: none;

        @include tablet-lg {
            display: flex;
        }
    }

    // Navigation styling ul

    .navigation {
        display: none;
        gap: calc($space-md * 1.5);
        list-style: none;
        flex-direction: column;
        position: absolute;
        top: $space-xxl;
        left: 50%;
        width: calc(100% - #{$space-md * 2});
        transform: translateX(-50%);
        align-items: center;
        background-color: $white;
        padding: $space-md 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 3s ease, visibility 3s ease;

        &.active {
            display: flex;
            opacity: 1;
            visibility: visible;
        }
    

        @include tablet {
            width: calc(100% - #{$space-xxl* 2});
        }
        

        @include tablet-lg {
            display: flex;
            flex-direction: row;
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
            width: auto;
            gap: $space-md;
            padding: 0;
        }
    }

    .nav-logo {
        img {
            height: 25px;
        }
    }

    // Hamburger button styling
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: calc($space-md * 1.3);
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 100;
        transition: transform 0.3s ease;

        .bar {
            width: 100%;
            height: 2px;
            background-color: $blue-grey;
            transition: all 0.3s ease;
        }

        &:focus {
            outline: none;
        }

        // Active state for hamburger
        &.active {
            transform: rotate(90deg);

            .bar:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            .bar:nth-child(2) {
                opacity: 0;
            }

            .bar:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        @include tablet-lg {
            display: none;
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease, visibility 3s ease;

    &.active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}