nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: $white;
    padding-top: $space-sm;
    padding-bottom: $space-sm;

    .container-xxl {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul,
    .btn {
        display: none;

        @include tablet-lg {
            display: flex;
        }
    }

    ul {
        gap: $space-md;
        list-style: none;
    }

    .nav-logo {
        img {
            height: 25px;
        }
    }

    // Hamburger button styling
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: calc($space-md * 1.3);
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 100;
        transition: transform 0.3s ease;

        .bar {
            width: 100%;
            height: 2px;
            background-color: $blue-grey;
            transition: all 0.3s ease;
        }

        &:focus {
            outline: none;
        }

        // Active state for hamburger
        &.active {
            transform: rotate(90deg);

            .bar:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            .bar:nth-child(2) {
                opacity: 0;
            }

            .bar:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        @include tablet-lg {
            display: none;
        }
    }
}