// Headings

// h1, h2, h3, h4, h5, h6 {
//     font-weight: 700;
//   }

body {
  font-family: $font-family;
  font-size: $base-font-size;
  line-height: 1.5;
}
  
  // Paragraphs
  p {
    font-weight: 300;
  }


  // Media Query for Mobile and up

  body {
    font-size: 16px;
  }

  // Adjust heading sizes for mobile view
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }


// Media Query for Tablet Lg and Desktop
@include tablet-lg {
  body {
    font-size: 18px;
    color: $blue-dark;
  }

  h1 {
    font-size: 2.8rem;
    line-height: $space-lg;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 2.5rem;
    line-height: $space-lg;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 2rem;
  }
}

.subtitle {
  color: $blue-grey-dark;
}